<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <!-- <mat-card-title>Shipping Information</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Path" formControlName="path" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value" formControlName="value">
            <mat-error *ngIf="addressForm.controls['value'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let t of valueObjType" [value]="t.name">
                {{ t.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['type'].hasError('required')">
              Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
